*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    justify-content: center;
}
.box{
    width: 1200px;
}  

/* 定位 */
.p-r{
    position: relative;
}
.p-a-r{
    position: absolute;
    right: 0;
}
.p-a-l{
    position: absolute;
    left: 0;
}
.p-a-t{
    position: absolute;
    top: 0;
}
.p-a-b{
    position: absolute;
    bottom: 0;
}

/* 文字 */
.f12{
    font-size: 12px;
}
.f14{
    font-size: 14px;
}
.f16{
    font-size: 16px;
}
.f18{
    font-size: 18px;
}
.f20{
    font-size: 20px;
}
.f-color-w{
    color: white;
}
.f-color-b{
    color: black;
}
.f-w-7{
    font-weight: 700;
}
.f-w-9{
    font-weight: 900;
}

/* 弹性盒子 */
.d-f{
    display: flex;
}
.f-a{
    display: flex;
    align-items: center;
}
.f-j{
    display: flex;
    justify-content: center;
}
.f-a-j{
    display: flex;
    justify-content: center;
    align-items: center;
}
.f-j-bw{
    display: flex;
    justify-content: space-between;
}
.f-aj-bw{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.f-j-around{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.f-aj-around{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.f-c{
    display: flex;
    flex-direction: column;
}
.f-c-a{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.f-c-j{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.f-c-a-j{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.f-c-aj-bw{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.f-c-aj-around{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

/* 外边距 */
.m-1{
    margin: 10px;
}
.m-2{
    margin: 20px;
}
.m-3{
    margin: 30px;
}
.m-4{
    margin: 40px;
}
.m-5{
    margin: 50px;
}
.m-t-1{
    margin-top: 10px;
}
.m-t-2{
    margin-top: 20px;
}
.m-t-3{
    margin-top: 30px;
}
.m-t-4{
    margin-top: 40px;
}
.m-t-5{
    margin-top: 50px;
}
.m-r-05{
    margin-right: 5px;
}
.m-r-1{
    margin-right: 10px;
}
.m-r-12{
    margin-right: 12px;
}
.m-r-2{
    margin-right: 20px;
}
.m-r-3{
    margin-right: 30px;
}
.m-r-4{
    margin-right: 40px;
}
.m-r-5{
    margin-right: 50px;
}
.m-b-0{
    margin-bottom: 0;
}
.m-b-1{
    margin-bottom: 10px;
}
.m-b-2{
    margin-bottom: 20px;
}
.m-b-3{
    margin-bottom: 30px;
}
.m-b-4{
    margin-bottom: 40px;
}
.m-b-5{
    margin-bottom: 50px;
}
.m-l-05{
    margin-left: 5px;
}
.m-l-1{
    margin-left: 10px;
}
.m-l-2{
    margin-left: 20px;
}
.m-l-3{
    margin-left: 30px;
}
.m-l-4{
    margin-left: 40px;
}
.m-l-5{
    margin-left: 50px;
}
.m-tb-1{
    margin: 10px 0;
}
.m-tb-2{
    margin: 20px 0;
}
.m-tb-3{
    margin: 30px 0;
}
.m-tb-4{
    margin: 40px 0;
}
.m-tb-5{
    margin: 50px 0;
}
.m-lr-1{
    margin: 0 10px;
}
.m-lr-15{
    margin: 0 15px;
}
.m-lr-2{
    margin: 0 20px;
}
.m-lr-3{
    margin: 0 30px;
}
.m-lr-4{
    margin: 0 40px;
}
.m-lr-5{
    margin: 0 50px;
}
/* 内边距 */
.p-1{
    padding: 10px;
}
.p-2{
    padding: 20px;
}
.p-3{
    padding: 30px;
}
.p-4{
    padding: 40px;
}
.p-5{
    padding: 50px;
}
.p-t-1{
    padding-top: 10px;
}
.p-t-2{
    padding-top: 20px;
}
.p-t-3{
    padding-top: 30px;
}
.p-t-4{
    padding-top: 40px;
}
.p-t-5{
    padding-top: 50px;
}
.p-r-1{
    padding-right: 10px;
}
.p-r-2{
    padding-right: 20px;
}
.p-r-3{
    padding-right: 30px;
}
.p-r-4{
    padding-right: 40px;
}
.p-r-5{
    padding-right: 50px;
}
.p-b-1{
    padding-bottom: 10px;
}
.p-b-2{
    padding-bottom: 20px;
}
.p-b-3{
    padding-bottom: 30px;
}
.p-b-4{
    padding-bottom: 40px;
}
.p-b-5{
    padding-bottom: 50px;
}
.p-l-1{
    padding-left: 10px;
}
.p-l-2{
    padding-left: 20px;
}
.p-l-3{
    padding-left: 30px;
}
.p-l-4{
    padding-left: 40px;
}
.p-l-5{
    padding-left: 50px;
}
.p-tb-1{
    padding: 10px 0;
}
.p-tb-2{
    padding: 20px 0;
}
.p-tb-3{
    padding: 30px 0;
}
.p-tb-4{
    padding: 40px 0;
}
.p-tb-5{
    padding: 50px 0;
}
.p-lr-1{
    padding: 0 10px;
}
.p-lr-2{
    padding: 0 20px;
}
.p-lr-3{
    padding: 0 30px;
}
.m-lr-4{
    padding: 0 40px;
}
.p-lr-5{
    padding: 0 50px;
}

/* 占比 */
.f-1{
    flex: 1;
}
.f-2{
    flex: 2;
}
.f-3{
    flex: 3;
}
/* 换行 */
.f-w{
    flex-wrap: wrap;
}

